.header {
  &__container {
    display: flex;
    justify-content: space-between;
    height: 455px;
    position: relative;
  }
  &__brand {
    width: 165px;
    background-color: rgba($color:#fff, $alpha: 0.85);
    backdrop-filter: blur(40px);
  }
  &__nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 29px;
    padding-left: 18px;
    padding-right: 16px;
    width: 100vw;
  }
  &__block {
    display: none;
    padding-top: 30.34px;
    padding-left: 40px;
  }
  &__title {
    margin-top: 58px;
    line-height: 42px;
  }
  &__sub-title {
    font-family: $font-ceraMedium;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.04em;
    width: 100px;
    text-align: end;
    margin-top: 34px;
    transform: rotate(-90deg) translateX(-34px) translateY(-34px);
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__logo {
    width: 70px;
    height: 100%;
    padding-left: 9px;
    padding-top: 34px;
    background-color: #fff;
  }
  &__attribute {
    display: flex;
    justify-content: center;
    font-family: $font-ceraRegular;
    font-size: 14px;
    width: 180px;
    position: absolute;
    top: 143px;
    right: 16px;
    transform: rotate(90deg) translateX(67.5px) translateY(-82px);
    &-year {
      font-family: $font-ceraBold;
      margin-left: 41px;
      font-weight: bold;
    }
  }
}

.nav {
  &__menu {
    width: 18px;
    height: 13px;
    background-color: transparent;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 1px;
      top: 0;
      left: 0;
      background-color: $mainColor;
      box-shadow: 0 6px 0 0 $mainColor, 0 12px 0 0 $mainColor;
    }
    &:hover,
    &:focus,
    &:active {
      &::after {
        background-color: $hover;
        box-shadow: 0 6px 0 0 $hover, 0 12px 0 0 $hover;
      }
    }
  }
  &__links {
    display: flex;
    align-items: flex-end;
    width: 91px;
    justify-content: space-between;
    margin-right: 41.5%;
    &-like,
    &-inst,
    &-cart {
      display: flex;
      align-items: center;
    }
  }
  &__lang {
    font-size: 14px;
    &:hover,
    &:focus {
      color: $hover;
    }
  }
}

@media screen and (min-width: 370px) {
  .nav__links {
    margin-right: 50%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      height: 457px;
    }
    &__brand {
      width: 399px;
    }
    &__block {
      display: block;
    }
    &__logo {
      width: 129px;
      padding-left: 45px;
      padding-top: 33px;
    }
    &__attribute {
      font-size: 16px;
      right: 40px;
      top: 150px;
      &-year {
        margin-left: 30px;
      }
    }
    &__nav {
      width: 100%;
      padding: 0 96px 0 40px;
      bottom: 32px;
    }
  }

  .nav {
    &__links {
      width: 97px;
      margin-right: 0;
      padding-right: 6px;
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    &__container {
      height: 530px;
    }
    &__brand {
      width: 463px;
    }
    &__logo {
      width: 225px;
      padding-left: 73px;
    }
    &__attribute {
      right: 96px;
      top: 188px;
    }
    &__block {
      padding-left: 95px;
    }
    &__title {
      margin-top: 77px;
      line-height: 48px;
    }
    &__sub-title {
      font-size: 14px;
      line-height: 14px;
      transform: rotate(-90deg) translateX(-20.5px) translateY(-34px);
    }
    &__nav {
      padding-left: 95px;
      padding-right: 104px;
    }
  }

  .nav {
    &__links {
      width: 100px;
      padding-right: 6px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__container {
      height: 802px;
    }
    &__brand {
      width: 728px;
    }
    &__logo {
      width: 321px;
      padding-left: 117px;
      padding-top: 36px;
    }
    &__attribute {
      right: 140px;
      top: 288px;
    }
    &__title {
      line-height: 72px;
      margin-top: 149px;
    }
    &__block {
      padding-left: 135px;
    }
    &__sub-title {
      transform: rotate(-90deg) translateX(-33px) translateY(-36px);
    }
    &__nav {
      bottom: 63px;
      padding-left: 134px;
      padding-right: 171px;
    }
  }
  .nav {
    &__links {
      width: 86px;
      padding-right: 0;
      margin-right: 125px;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__container {
      height: 1055px;
    }
    &__brand {
      width: 855px;
    }
    &__logo {
      width: 465px;
      padding-left: 145px;
      padding-top: 56px;
    }
    &__attribute {
      right: 256px;
      top: 450px;
    }
    &__block {
      padding-top: 50px;
      padding-left: 255px;
    }
    &__title {
      margin-top: 213px;
      line-height: 72px;
    }
    &__sub-title {
      transform: rotate(-90deg) translateX(-37px) translateY(-37px);
    }
    &__nav {
      padding-left: 255px;
      padding-right: 96px;
      bottom: 51px;
    }
  }
  .nav {
    &__links {
      width: 58px;
      padding-right: 0;
      margin-right: 168px;
      justify-content: space-between;
    }
  }
}
