.main {
  &__container {
    position: relative;
    padding: 50px 15px 0;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__colors {
    margin-top: 117px;
    position: relative;
  }
  &__palettes {
    margin-top: 115px;
    position: relative;
    display: grid;
  }
}

@media screen and (min-width: 768px) {
  .main {
    &__container {
      padding-top: 50px;
      padding-left: 39px;
      padding-right: 41px;
    }
    &__palettes {
      margin-top: 24px;
    }
    &__colors {
      margin-top: 65px;
    }
  }
}

@media screen and (min-width: 960px) {
  .main {
    &__container {
      padding-top: 68px;
      padding-right: 100px;
    }
    &__colors {
      margin-top: 60px;
    }
    &__palettes {
      margin-top: 26px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .main {
    &__container {
      padding-top: 80px;
      padding-right: 255px;
      padding-left: 80px;
    }
    &__colors {
      margin-top: 51px;
    }
    &__palettes {
      margin-top: 6px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .main {
    &__container {
      padding: 100px 372px 0 205px;
    }
    &__palettes {
      margin-top: -3px;
    }
  }
}

.parag__text {
  width: 270px;
  height: 80px;
  margin: 32px 0 0 31px;
  font-family: $font-montserrat;
  font-size: 12px;
  line-height: 16px;
}

.block__dark {
  position: absolute;
  top: 220px;
  left: 13px;
  transform: rotate(-90deg) translateX(-8px) translateY(-8px);
}

@media screen and (min-width: 768px) {
  .parag__text {
    width: 268px;
    height: 80px;
    margin: 50px 0 0 62px;
  }
  .block__dark {
    position: static;
    transform: rotate(-90deg) translateX(-29px) translateY(48px);
  }
}

@media screen and (min-width: 960px) {
  .parag__text {
    width: 290px;
    height: 80px;
    margin: 56px 0 0 79px;
    font-size: 13px;
    line-height: 17px;
  }
  .block__dark {
    transform: rotate(-90deg) translateX(-32px) translateY(107px);
  }
}

@media screen and (min-width: 1440px) {
  .block__parag {
    margin-right: 39px;
  }
  .block__dark {
    transform: rotate(-90deg) translateX(-28px) translateY(110px);
  }
  .parag__text {
    width: 316px;
    height: 80px;
    margin: 53px 0 0 105px;
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 1920px) {
  .block__parag {
    margin-right: 142px;
  }
  .block__dark {
    transform: rotate(-90deg) translateX(-29px) translateY(109px);
  }
  .parag__text {
    width: 316px;
    height: 80px;
    margin: 53px 0 0 120px;
  }
}

.colors {
  &__parag {
    margin-left: 31px;
    width: 299px;
  }
  &__title {
    font-size: 32px;
    line-height: 40px;
  }
  &__sub-title {
    font-size: 13px;
    margin-top: 3px;
    float: right;
  }
  &__title-color {
    position: absolute;
    font-family: $font-ceraMedium;
    font-weight: 500;
    top: 128px;
    right: 3px;
    transform: rotate(-90deg) translateX(-22px) translateY(22px);
  }
}

@media screen and (min-width: 768px) {
  .colors {
    &__parag {
      margin-left: 50px;
      width: 280px;
    }
    &__title-color {
      position: static;
      transform: rotate(-90deg) translateX(-12px) translateY(65px);
    }
  }
}

@media screen and (min-width: 960px) {
  .colors {
    &__parag {
      margin-left: 103px;
      width: 320px;
    }
    &__title {
      font-size: 36px;
      line-height: 45px;
    }
    &__sub-title {
      font-size: 14px;
      line-height: 18px;
      margin-top: -10px;
    }
    &__title-color {
      transform: rotate(-90deg) translateX(-13px) translateY(62px);
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .colors {
    &__parag {
      margin-left: 100px;
      width: 421px;
    }
    &__title {
      font-size: 56px;
      line-height: 70px;
    }
    &__sub-title {
      font-size: 16px;
      margin-top: 2px;
    }
    &__title-color {
      transform: rotate(-90deg) translateX(-13px) translateY(207px);
    }
  }
}

@media screen and (min-width: 1920px) {
  .colors {
    &__parag {
      width: 400px;
    }
    &__sub-title {
      margin-top: 4px;
    }
    &__title-color {
      transform: rotate(-90deg) translateX(-7px) translateY(210px);
    }
  }
}

.color {
  &__vinous {
    grid-area: vin;
    background-color: #9a0034;
    margin-left: 21px;
    margin-right: 17px;
  }
  &__pink {
    grid-area: pink;
    background-color: #d7969e;
  }
  &__pink-light {
    grid-area: pink-light;
    background-color: #e8d8d9;
  }
  &__gray-light {
    grid-area: gray-light;
    margin-top: -17px;
    height: 50px;
    background-color: #dedcdc;
  }
  &__gray-dark {
    grid-area: gray-dark;
    background-color: #898989;
  }
  &__gray {
    grid-area: gray;
    background-color: #b7b7b7;
  }
  &__black {
    grid-area: black;
    background-color: #000;
  }
  &__hex {
    font-family: $font-ceraMedium;
    font-size: 14px;
    margin-top: 65px;
    text-transform: uppercase;
  }
  p {
    font-family: $font-ceraMedium;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .color {
    &__vinous {
      margin-right: 0;
      width: 190px;
      height: 51px;
      margin-top: -26px;
      margin-left: 19px;
    }
    &__pink-light {
      margin-top: -17px;
      height: 50px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 960px) {
  .color {
    &__pink-light,
    &__gray-light {
      margin-top: -57px;
    }
    &__vinous {
      width: 210px;
      margin-top: 0;
      margin-left: 41px;
    }
    &__black {
      width: 90px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .color {
    &__vinous {
      width: 280px;
      height: 70px;
      margin-left: 129px;
      margin-top: -10px;
    }
    &__pink-light,
    &__gray-light {
      margin-top: -15px;
      height: 60px;
    }
    &__hex {
      margin-top: 70px;
    }
    &__hex--bright {
      margin-top: 77px;
    }
    &__hex--pink {
      margin-top: 73px;
    }
    &__black {
      width: 130px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .color {
    &__hex {
      margin-top: 69px;
    }
    &__hex-bright {
      margin-top: 77px;
    }
    &__hex-pink {
      margin-top: 73px;
    }
  }
}

.palette {
  &__first {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 50px 30px;
    grid-template-areas: ". vin vin" "pink-light pink ." ". . gray-light";
  }
  &__second {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 33px 30px;
    grid-template-areas: "gray-dark . ." ". gray black";
  }
  &__bright {
    position: absolute;
    font-family: $font-ceraMedium;
    font-weight: 500;
    right: 0;
    bottom: -34px;
    transform: rotate(-90deg) translateX(15px) translateY(15px);
  }
}

@media screen and (min-width: 768px) {
  .palette {
    &__first {
      margin-top: 29px;
      margin-right: 57px;
      grid-template-areas: ". vin vin" "pink . ." ". pink-light gray-light";
    }
    &__second {
      margin-top: -42px;
      margin-left: 50px;
    }
    &__bright {
      right: -5px;
    }
  }
}

@media screen and (min-width: 960px) {
  .palette {
    &__first {
      grid-template-columns: repeat(3, 90px);
      grid-template-rows: repeat(2, 50px);
      grid-gap: 89px 30px;
      margin-top: 2px;
      margin-right: 39px;
    }
    &__second {
      margin-top: -38px;
      margin-left: 103px;
      grid-template-columns: repeat(3, 80px);
    }
    &__bright {
      right: -1px;
      bottom: -32px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .palette {
    &__first {
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 60px);
      grid-gap: 45px 30px;
      margin-top: 2px;
      margin-right: 3px;
    }
    &__second {
      margin-top: -59px;
      margin-left: 101px;
      grid-gap: 28px 30px;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 60px);
    }
    &__bright {
      right: -120px;
      bottom: -20px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .palette {
    &__second {
      margin-top: -63px;
      margin-left: 171px;
    }
    &__bright {
      right: -123px;
      bottom: -19px;
      transform: rotate(-90deg) translateX(11px) translateY(15px);
    }
  }
}
