@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro-Regular";
  src: url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro-Bold";
  src: url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro-Medium";
  src: url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
