@import "fonts";
@import "./blocks/global";
@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/footer";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  min-width: 360px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  color: $mainColor;
  font-family: $font-ceraRegular;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: none;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

select {
  width: 24px;
  outline: none;
  appearance: none;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

picture {
  display: flex;
  align-items: inherit;
}
